.mid {
    width: 1080px;      
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin: auto;
    background-color: #FFFFFF;
}


.part{
    display: flex;
}

.para1{
    width: 618px;
    height: 128px;
    top: 215px;
    left: 175px;
    font-family: Inter,sans-serif;
    font-size: 4vw;
    font-weight: 700;
    line-height: 64px;
    text-align: left;
    color: black;
    overflow: hidden;
}

.para2{
    width: 638px;
    height: 56px;
    top: 367px;
    left: 175px;
    gap: 0px;
    opacity: 0.5px;
}

.video{
    color: black;
}

@media (max-width:950px) {
    
    .part{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .star{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .para1{
        width: 618px;
        height: 128px;
        top: 215px;
        left: 175px;
        font-family: Inter,sans-serif;
        font-size: 8vw;
        font-weight: 700;
        line-height: 64px;
        text-align: left;
        color: black;
    }

}